openapi: 3.2.0
info:
  title: NCBI Datasets REST Gene API
  description: The NCBI Datasets REST API v2 provides programmatic access to biological data across NCBI databases including genome assemblies, gene records, and protein sequences. Returns data packages or metadata for genomes by taxon, assembly accession, or biosample; genes by gene ID or symbol; and viruses by taxon. The full OpenAPI specification is available at https://www.ncbi.nlm.nih.gov/datasets/docs/v2/openapi3/openapi3.docs.yaml and on GitHub at github.com/ncbi/datasets.
  version: 2.0.0
  contact:
    name: NCBI Datasets
    url: https://www.ncbi.nlm.nih.gov/datasets/docs/v2/
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
  externalDocs:
    url: https://www.ncbi.nlm.nih.gov/datasets/docs/v2/openapi3/openapi3.docs.yaml
    description: Full OpenAPI 3.0 Specification
servers:
- url: https://api.ncbi.nlm.nih.gov/datasets/v2
  description: NCBI Datasets API v2
tags:
- name: Gene
  description: Gene records and sequence data
paths:
  /gene/id/{gene_ids}:
    get:
      operationId: getGeneByIds
      summary: Get Gene Records By IDs
      description: Retrieve gene records for one or more NCBI gene IDs, including gene symbol, name, description, location, and associated sequence accessions.
      tags:
      - Gene
      parameters:
      - name: gene_ids
        in: path
        description: Comma-separated NCBI gene IDs
        required: true
        schema:
          type: string
        example: 672,675
      - name: api_key
        in: query
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Gene records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneDatasetReport'
  /gene/symbol/{symbols}/taxon/{taxon}:
    get:
      operationId: getGeneBySymbol
      summary: Get Gene by Symbol and Taxon
      description: Retrieve gene records by gene symbol for a specific organism. Returns gene details including ID, name, description, location, and chromosome.
      tags:
      - Gene
      parameters:
      - name: symbols
        in: path
        description: Gene symbol(s) (e.g. BRCA1, TP53)
        required: true
        schema:
          type: string
        example: BRCA1
      - name: taxon
        in: path
        description: Organism name or NCBI taxonomy ID
        required: true
        schema:
          type: string
        example: human
      - name: api_key
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Gene records matching symbol and taxon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneDatasetReport'
components:
  schemas:
    GeneRecord:
      type: object
      description: An NCBI gene record
      properties:
        geneId:
          type: integer
          description: NCBI gene ID
        symbol:
          type: string
          description: Official gene symbol
        description:
          type: string
          description: Gene description
        taxId:
          type: integer
          description: NCBI taxonomy ID
        organism:
          type: object
          properties:
            sciName:
              type: string
            commonName:
              type: string
        chromosomes:
          type: array
          items:
            type: string
          description: Chromosomes where gene is located
        type:
          type: string
          description: Gene type (protein-coding, ncRNA, pseudogene, etc.)
    GeneDatasetReport:
      type: object
      description: Gene dataset report
      properties:
        reports:
          type: array
          items:
            $ref: '#/components/schemas/GeneRecord'
        totalCount:
          type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
