openapi: 3.2.0
info:
  title: NCBI E-Utilities Info API
  description: The NCBI E-Utilities (Entrez Programming Utilities) are the public API to the NCBI Entrez system providing access to all 41 Entrez databases including PubMed (biomedical literature), PMC (full-text articles), Gene, Nuccore (nucleotide sequences), Protein, SNP, and more. Supports search, retrieval, linking, posting, and spelling operations. API keys from https://www.ncbi.nlm.nih.gov/account/ increase the rate limit from 3 to 10 requests per second.
  version: 1.0.0
  contact:
    name: NCBI
    url: https://www.ncbi.nlm.nih.gov/home/develop/api/
    email: info@ncbi.nlm.nih.gov
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://eutils.ncbi.nlm.nih.gov/entrez/eutils
  description: NCBI E-Utilities API
tags:
- name: Info
  description: Database information and statistics
paths:
  /einfo.fcgi:
    get:
      operationId: getDatabaseInfo
      summary: Get Database Information
      description: Retrieve information about Entrez databases including list of all databases, or details about a specific database including field names, links, and statistics.
      tags:
      - Info
      parameters:
      - name: db
        in: query
        description: Database name (omit to list all databases)
        required: false
        schema:
          type: string
        example: pubmed
      - name: api_key
        in: query
        required: false
        schema:
          type: string
      - name: retmode
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Database information or list of databases
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: NCBI API key from https://www.ncbi.nlm.nih.gov/account/
