openapi: 3.2.0
info:
  title: NCBI Datasets REST Taxonomy API
  description: The NCBI Datasets REST API v2 provides programmatic access to biological data across NCBI databases including genome assemblies, gene records, and protein sequences. Returns data packages or metadata for genomes by taxon, assembly accession, or biosample; genes by gene ID or symbol; and viruses by taxon. The full OpenAPI specification is available at https://www.ncbi.nlm.nih.gov/datasets/docs/v2/openapi3/openapi3.docs.yaml and on GitHub at github.com/ncbi/datasets.
  version: 2.0.0
  contact:
    name: NCBI Datasets
    url: https://www.ncbi.nlm.nih.gov/datasets/docs/v2/
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
  externalDocs:
    url: https://www.ncbi.nlm.nih.gov/datasets/docs/v2/openapi3/openapi3.docs.yaml
    description: Full OpenAPI 3.0 Specification
servers:
- url: https://api.ncbi.nlm.nih.gov/datasets/v2
  description: NCBI Datasets API v2
tags:
- name: Taxonomy
  description: NCBI taxonomy information
paths:
  /taxonomy/taxon/{taxons}:
    get:
      operationId: getTaxonomy
      summary: Get Taxonomy Information
      description: Retrieve NCBI taxonomy information for one or more taxa by name or taxonomy ID, including scientific name, common name, lineage, and rank.
      tags:
      - Taxonomy
      parameters:
      - name: taxons
        in: path
        description: Comma-separated taxon names or taxonomy IDs
        required: true
        schema:
          type: string
        example: '9606'
      - name: api_key
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Taxonomy information
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
