openapi: 3.2.0
info:
  title: ClinicalTrials.gov Metadata API
  description: The ClinicalTrials.gov API v2 provides programmatic access to clinical trial data registered with ClinicalTrials.gov, operated by the U.S. National Library of Medicine. Returns study information, eligibility criteria, outcomes, locations, sponsor and collaborator data, and results for hundreds of thousands of registered clinical trials. No API key required.
  version: 2.0.0
  contact:
    name: ClinicalTrials.gov
    url: https://clinicaltrials.gov/data-api/api
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://clinicaltrials.gov/api/v2
  description: ClinicalTrials.gov API v2
tags:
- name: Metadata
  description: API metadata and field definitions
paths:
  /stats/size:
    get:
      operationId: getDatasetSize
      summary: Get Dataset Size
      description: Returns the total number of clinical trials in the ClinicalTrials.gov database, optionally filtered by query parameters.
      tags:
      - Metadata
      parameters:
      - name: query.cond
        in: query
        required: false
        schema:
          type: string
      - name: filter.overallStatus
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Total count of matching studies
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of studies matching the query
  /studies/metadata:
    get:
      operationId: getStudyFieldsMetadata
      summary: Get Study Fields Metadata
      description: Retrieve metadata about all available data fields in the ClinicalTrials.gov study record, including field names, types, and descriptions.
      tags:
      - Metadata
      responses:
        '200':
          description: Study field metadata
          content:
            application/json:
              schema:
                type: object
