openapi: 3.0.3
info:
  title: NCBI URL BLAST Info API
  description: 'The NCBI BLAST URL API allows developers to submit BLAST (Basic Local Alignment Search Tool) sequence searches for processing at NCBI using HTTPS. The API operates in three phases: (1) PUT request to submit a search and receive a request ID (RID), (2) polling GET requests to check search status, (3) GET request to retrieve results in the desired format. Supports nucleotide (blastn, blastx) and protein (blastp, tblastn, tblastx) searches.'
  version: 1.0.0
  contact:
    name: NCBI BLAST
    url: https://blast.ncbi.nlm.nih.gov/doc/blast-help/developerinfo.html
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://blast.ncbi.nlm.nih.gov/blast
  description: NCBI BLAST Server
tags:
- name: Info
  description: Database information and statistics
paths:
  /einfo.fcgi:
    get:
      operationId: getDatabaseInfo
      summary: Get Database Information
      description: Retrieve information about Entrez databases including list of all databases, or details about a specific database including field names, links, and statistics.
      tags:
      - Info
      parameters:
      - name: db
        in: query
        description: Database name (omit to list all databases)
        required: false
        schema:
          type: string
        example: pubmed
      - name: api_key
        in: query
        required: false
        schema:
          type: string
      - name: retmode
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Database information or list of databases
          content:
            application/json:
              schema:
                type: object
